body {
    background-image: linear-gradient( 115deg, #3aa55b, rgba(136, 136, 206, 0.7) );
 
  font-family: sans-serif;
  font-size: 20px;
  line-height:20px;
  color: white;
  background-repeat: no-repeat;
  background-attachment: fixed;
  box-sizing: border-box;
  
}
#header {
    margin: auto;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}
#container {
    width:800px;
    margin: auto;
    margin-top: 150px;
}
#loginFormContainer {
    color: black;
    width: 600px;
    margin: auto;
    background-color: white;
    border-radius: 10px;
    height: 260px;
    padding: 20px;
    position: relative;
    box-sizing: border-box;

}
.lineForm {
    width: 500px;
    margin: auto;
    font-size: 20px;
  
    margin-top: 30px;
    height: 40px;
}
label {
    display: inline-block;
    width: 150px;
}
input {
    font-size: 20px;
}
#submitBtn {
    padding: 5px;
    cursor: pointer;
    color: #fff;
    
    
    display: block;
    margin: auto;
    background-color: #4CAF50;
    font-size: 20px;
    border-radius: 5px;
    border:none;
}
#guessSignUp {
   position: absolute;
    width: 560px;
    margin: auto;
    top: 210px;
    text-align: center;
}
#linkToSignUp {
    cursor: pointer;

}
#linkToSignUp:hover {
    color: #4CAF50;
}
a {
    text-decoration: none;
    color: black;
}
#message {
    display: block;
    height: 30px;
    
    width: 100%;
    margin-bottom: 5px;
}